<h1 class="display-4">Articles</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th>#</th>
        <th>Title</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <% for(let i = 0; i < articles.length; i++) { %>
        <tr>
            <td><%= articles[i].id %></td>
            <td><%= articles[i].title %></td>
            <td>
                <form class="d-inline" method="post" action="/articles/delete/<%= articles[i].id %>">
                    <input type="submit" value="Delete" class="btn btn-danger">
                </form>
            </td>
        </tr>
    <% } %>
    </tbody>
</table>

