<h1 class="display-4">Welcome To ArticleBase</h1>
<p class="md4">This is a Sails.js app for managing articles</p>
<a href="articles/list" class="btn btn-light">View articles</a>
<a href="articles/add" class="btn btn-light">Add articles</a>
